env:
  global:
    - CC_TEST_REPORTER_ID=bf120a504e138055e0d71e23e1acd2d75d5dfe9fbcdaf0268ee9f4e3a23e5b2f
language: node_js
node_js:
  - "14"
  - "12"
  - "10"
sudo: false
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - npm run lint
  - npm run coverage
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
